.git
.gitignore
bin/
obj/
*.csproj.user
*.suo
.DS_Store
plugins/
docs/
test-data/
api/
.github/
.vscode/
__pycache__/
*.pyc
node_modules/
*.log
*.dll
*.exe
*.pdb
*.nupkg
coverage/
files/
TestResults/
config.yaml
winhome.state.json
*.snk
*.trx
*.cache
